<section>
    <div class="container">
        <div class="columns">
            <div class="column is-6">
                <section class="hero is-info is-medium">
                        <h2 class="title">
                            Relação de alunos matriculados
                        </h2>

                    <div class="hero-body">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Matricula</th>
                                    <th>Aluno</th>
                                    <th>Turma</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td><a href="#" title="Matricula">0001</a>
                                    <td><a href="#" title="Aluno">Ana Eduarda Lima</a>
                                    <td><a href="#" title="Turno">Matutino</a>
                                </tr>

                                <tr>
                                    <td><a href="#" title="Matricula">0002</a>
                                    <td><a href="#" title="Aluno">Benjamin Lima</a>
                                    <td><a href="#" title="Turno">Matutino</a>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </section>
            </div>
        </div>
    </div>
</section>
