<section class="hero is-info is-fullheight">
    <div class="hero-body">
      <div class="container">
        <div class="card">
            <div class="card-content">
                <div class="avatar">
                    <img src="../../../assets/avatar.png" />
                </div>
                <div class="login-form">
                    <div class="field">
                        <div class="control">
                            <input class="input is-info" type="text" placeholder="Login">
                        </div>
                    </div>

                    <div class="field">
                        <div class="control">
                            <input class="input is-info" type="text" placeholder="Senha">
                        </div>
                    </div>

                    <div class="login-button">
                        <span>
                            <a href="../alunos" class="button is-info">Login</a>
                        </span>
                        <a class="button is-light">Cancelar</a>
                    </div>

                </div>
            </div>
        </div>
      </div>
    </div>
  </section>