<div class="container">
    <div class="media-content">
        <p class="title is-4">Cadastro de Novo Aluno</p>
    </div>
    <!-- //header-cadastro -->

    <!-- campos-cadastro -->
    <div class="card">
    <div class="card-content">
        <div class="content">
            <div class="cadastro-card-header">
                <p class="title is-5">Dados do Aluno</p>
            </div>

            <!-- Matricula/Turma/Turno -->
            <div class="columns">
                <div class="column">
                    <input class="input" type="text" placeholder="Matricula">
                </div>

                <div class="column">
                    <input class="input" type="text" placeholder="Turma">
                </div>

                <div class="column">
                    <input class="input" type="text" placeholder="Turno">
                </div>
            </div>
            <!-- //Matricula/Turma/Turno -->

            <!-- Nome Completo -->
            <div class="columns">
                <div class="column">
                    <input class="input" type="text" placeholder="Nome Completo">
                </div>
            </div>
            <!-- //Nome Completo -->

            <!-- Matricula/Turma/Turno -->
            <div class="columns">
                <div class="column">
                    <input class="input" type="text" placeholder="Certidão de Nascimento">
                </div>

                <div class="column">
                    <input class="input" type="text" placeholder="RG">
                </div>

                <div class="column">
                    <input class="input" type="text" placeholder="CPF">
                </div>

                <div class="column">
                    <input class="input" type="text" placeholder="Naturalidade">
                </div>

                <div class="column">
                        <input class="input" type="text" placeholder="Nacionalidade">
                </div>
            </div>
            <!-- //Matricula/Turma/Turno -->

            <div class="cadastro-card-header">
                <p class="title is-5">Filiação</p>
            </div>

            <div class="columns">
                <div class="column is-12 filiação">
                    <input class="input" type="text" placeholder="Nome completo da Mãe">
                    <input class="input" type="text" placeholder="Nome completo do Pai">
                </div>
            </div>


            <div class="cadastro-card-header">
                <p class="title is-5">Endereço</p>
            </div>


            <div class="columns">
                <div class="column is-12 filiação">
                    <input class="input" type="text" placeholder="Rua / Avenida /Passagem">
                    <input class="input" type="text" placeholder="Complemento">
                </div>
            </div>

            <!-- bairro / cidade / estado / cep -->
            <div class="columns">
                <div class="column">
                    <input class="input" type="text" placeholder="Bairro">
                </div>

                <div class="column">
                    <input class="input" type="text" placeholder="Cidade">
                </div>

                <div class="column">
                    <div class="select">
                        <select>
                            <option>Selecione o Estado</option>
                            <option value="AC">AC</option>
                            <option value="AL">AL</option>
                            <option value="AP">AP</option>
                            <option value="AM">AM</option>
                            <option value="BA">BA</option>
                            <option value="CE">CE</option>
                            <option value="DF">DF</option>
                            <option value="ES">ES</option>
                            <option value="GO">GO</option>
                            <option value="MA">MA</option>
                            <option value="MT">MT</option>
                            <option value="MS">MS</option>
                            <option value="MG">MG</option>
                            <option value="PA">PA</option>
                            <option value="PB">PB</option>
                            <option value="PR">PR</option>
                            <option value="PE">PE</option>
                            <option value="PI">PI</option>
                            <option value="RJ">RJ</option>
                            <option value="RN">RN</option>
                            <option value="RS">RS</option>
                            <option value="RO">RO</option>
                            <option value="RR">RR</option>
                            <option value="SC">SC</option>
                            <option value="SP">SP</option>
                            <option value="SE">SE</option>
                            <option value="TO">TO</option>
                        </select>
                    </div>
                </div>

                <div class="column">
                    <input class="input" type="text" placeholder="CEP">
                </div>
            </div>
            <!-- bairro / cidade / estado / cep -->
        </div>
    </div>
    <!--footer class="card-footer">
        <a href="#" class="card-footer-item">Save</a>
        <a href="#" class="card-footer-item">Edit</a>
        <a href="#" class="card-footer-item">Delete</a>
    </footer-->
    </div>
</div>